.collapse-section {
    border-radius: 5px;
    background-color: white;


    &.open {
        background: #F6F6F673;

    }

    .collapse-content {
        padding: 1em;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }


    }


    .collapse-header {
        display: flex;
        background-color: #FF6060;
        border-radius: 5px;
        padding: 0.5em;
        color: white;
        height: 40px;
        font-size: 15px;
        align-items: center;
        justify-content: space-between;
        font-family: 'Montserrat';

        @media screen and (max-width: 768px) {
            font-size: 12px;
            height: 30px;
        }
    }
}