.about {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;




    @media screen and (max-width: 768px) {
        padding: 1em;
    }




    .collapseAbout {
        margin-left: 4em;
        margin-right: 4em;
        display: flex;
        flex-direction: column;
        gap: 1em;




        @media screen and (max-width: 768px) {
            margin: 0;

        }




    }
}