.cards {
    width: 1fr;
    height: 300px;
    position: relative;
    border-radius: 10px;

    &::after {
        content: ""; // Obligatoire pour les pseudo-éléments
        position: absolute; // Position absolue par rapport à la carte
        top: 0; // Aligner en haut de la carte
        left: 0; // Aligner à gauche de la carte
        width: 100%; // Pleine largeur de la carte
        height: 100%; // Pleine hauteur de la carte
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
        pointer-events: none; // Assure que le pseudo-élément ne reçoit pas les événements de souris

    }





    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;





    }

    h3 {

        color: #FFFFFF;
        font-size: 18px;
        text-align: left;
        font-family: "Montserrat";
        position: absolute;
        left: 5.88%;
        right: 5.88%;
        bottom: 0%;
        width: 60%;





    }
}