.footer {
    background-color: black;
    margin: 0;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    img {
        width: 110px;
        height: 40px;
        margin: 2em;

    }


    p {
        color: white;
    }
}