.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 0em 3em;
    margin-bottom: 0;

    @media screen and (max-width: 768px) {
        padding: 1em;
    }

    img {
        @media screen and (max-width: 768px) {
            width: 145px;
        }

    }


    nav {
        ul {
            display: flex;
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: 500;
            line-height: 34.22px;
            text-align: right;

            @media screen and (max-width: 768px) {
                font-size: 5px;
                text-transform: uppercase;
            }

            a {
                //ici la balise navlink est convertit automatiquement en a
                text-decoration: none;
                // pour correspondre à la maquette et avoir un surlignement lorsque je clique sur le lien 

                &.underline {
                    text-decoration: underline;
                    color: black;
                }
            }

            li {
                margin: 0px 10px;
                list-style: none;
                cursor: pointer;
                color: black;
            }
        }
    }
}