.part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        margin: 3em;
        display: flex;
        flex-direction: column;

        h1 {
            color: #FF6060;
            font-family: 'Montserrat';
            font-size: 36px;
            font-weight: 500;
            line-height: 51px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
        }

        p {
            margin: 0;
            font-family: 'Montserrat';

            font-size: 18px;
            font-weight: 500;
            line-height: 25.67px;
            text-align: left;
        }

        .tags {
            display: flex;
            list-style: none;
            gap: 1em;
            padding-left: 0;

            li {
                height: 18px;
                border-radius: 10px;
                margin-right: 10px;
                padding: 2px 10px 0 10px;
                background: #FF6060;
                color: white;
                font-family: 'Montserrat';
                font-weight: bold;

            }

        }
    }

    .host-rating {
        margin-right: 3em;

        .host {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
            gap: 1em;
            font-family: 'Montserrat';

            span {

                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                p {

                    color: #FF6060;
                    font-size: 18px;
                    margin: 0;
                    padding: 0;



                }
            }



            img {
                height: 100%;
            }
        }


        .stars {
            display: flex;
            align-items: center;
            gap: 1em;
            justify-content: center;

        }
    }
}



.collapse-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    gap: 4em;

}